* {
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  position: sticky;
  top: 0;
}

.navstyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.navstyle a {
  font-weight: 400;
  color: white;
}
.navstyle img {
  width: 60px;
}
.navstyle a:hover {
  border-bottom: solid 3px aqua;
}
.navbar-toggler-icon {
  background-image: url(menu.png);
}

.footer {
  background-color: navy;
  color: white;
}

.edit {
  padding-top: 40px;
}
.edit a {
  color: black;
}
.edit p {
  text-align: left;
  font-size: 15px;
}
.edit h3 {
  text-decoration: overline underline;
}
.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 12px 40px;
  border: 3px solid #3c67e3;
  border-radius: 10px;
  margin-left: 270px;
}
.button:hover {
  animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}
.dropdown-menu {
  background-color: navy;
}
.box {
  height: 45px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.box:hover input {
  width: 400px;
}
.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
.box a .fas {
  color: navy;
  font-size: 18px;
}
/* .col-sm-4 {
  flex-basis: 30%;
  overflow: hidden;
} */

}
.col-sm-4 p {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-top: 100px;
}

.card {

  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  

    transition: transform 1s;
  transform-style: preserve-3d;
  
}

.card:hover .inner-box {

  transform: rotateX(-90deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

  /* .card-front {

  } */

.card-back {
  
  transform: rotateX(90deg);
}









